.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease;
}

.homepage-title {
  font-size: 5rem;
  text-align: center;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .homepage-title {
    font-size: 3rem;
  }
}